
<div class="content from-top content">
        
        <h1>We have some of the greatest trainers. </h1>
        <h2>Choose the best option for you!</h2>
</div>
<div class="from-top">
    <div *ngFor="let trainer of trainers ">

        <div class="row trainers ">
                <img src="../assets/1.jpg" class="img-rounded" alt="img" width="304" height="236"> 
            <div class="col-m-4 col-padding">Name: {{trainer.name}}</div>
            <div class="col-m-4 col-padding">
              Phone: {{trainer.phone}}
            </div>
            <div class="col-m-4 col-padding">
                    Age: {{trainer.age}}
             </div>
             <div class="col-m-4 col-padding">
                    Experience: {{trainer.experience}}
             </div>
        </div>
        
    </div>
</div>