.trainers {
    padding:10px;
    font-size: 30px;
}

.from-top{
    margin-top: 80px;
    margin-left: 50px;
}

.col-padding{
    padding-left:50px;
}
.content {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px
}