
<div class="content from-top content">

                <h1>Lifestyle.</h1>
                <h2>“It is never too late to be what you might have been.”</h2><br><h6>George Eliot</h6>
                <br>
                <br>
                <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a class="btn btn-link" routerLink="#">More about meditation.</a>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a class="btn btn-link" routerLink="#">The best day to start was yesterday!</a>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a class="btn btn-link" routerLink="#">Personal style?</a>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <a class="btn btn-link" routerLink="#">Motivation for work.</a>
                         </li>
                         <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <a class="btn btn-link" routerLink="#">Fitness and work. Can we have good progress when we are on fulltime job?</a>
                         </li>
                </ul>
                <br><br>
                <div class="row">
                        <div class="col-md-12">
                               
                                        <img class="rounded" src="../assets/Beachchairs.jpg" alt="New York" width=100% height="300">
                   </div>
                </div>
        </div>
        <div class="from-top">
<div class="from-top">

</div>