<h1>Here you can set your new program</h1>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 title" *ngIf="stage == 1">

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2>First tell us how many times per week you want to train.</h2>
        <br>
        <br>
        <div class="slidecontainer">
            <input type="range" min="1" max="7" value="50" class="slider" [(ngModel)]="timesPerWeek" id="myRange">

            <br>
            <h1>{{timesPerWeek}}</h1>
            <button (click)="nextStage();" class="btn btn-lg">Next</button>
        </div>
        <br>
        <br>
    </div>
    <div class="col-md-4 title" *ngIf="stage == 2">

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <button (click)="clickDay(dayClicked[0])" class="btn btn-lg">Day 1</button>
        <br><br>
        <br>
        <button (click)="nextStage();" class="btn btn-lg" *ngIf="timesPerWeek > 1">Day 2</button>
        <br><br>
        <br>
        <button (click)="nextStage();" class="btn btn-lg" *ngIf="timesPerWeek > 2">Day 3</button>
        <br><br>
    
        <br>
        <button (click)="nextStage();" class="btn btn-lg" *ngIf="timesPerWeek > 3">Day 4</button>
        <br><br>
    
        <br>
        <button (click)="nextStage();" class="btn btn-lg" *ngIf="timesPerWeek > 4">Day 5</button>
        <br><br>
    
        <br>
        <button (click)="nextStage();" class="btn btn-lg" *ngIf="timesPerWeek > 5">Day 6</button>
        <br> <br>
    
        <br>
        <button (click)="nextStage();" class="btn btn-lg" *ngIf="timesPerWeek > 6">Day 7</button>
        <br>
    
        <br>
        <br>
    </div>
</div>