<h1>Here you can set your new program</h1>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 title" *ngIf="stage == 1">

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2>First tell us how many times per week you want to train.</h2>
        <br>
        <br>
        <div class="slidecontainer">
            <input type="range" min="1" max="7" value="50" class="slider" [(ngModel)]="timesPerWeek" id="myRange">

            <br>
            <h1>{{timesPerWeek}}</h1>
            <button (click)="nextStage();" class="btn btn-lg">Next</button>
        </div>
        <br>
        <br>
    </div>
    <div class="col-md-4 title" *ngIf="stage == 2">

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <button (click)="clickDay(0)"  class="btn btn-lg">Day 1</button>
        <br><br>
        <div *ngIf="dayClicked[0]">

                <div *ngFor="let workout of workouts">

                        <div *ngFor="let exercise of workout.exercises">
            
                            <div class="row">
            
                                <div class="col-m-3 exCol">Name: {{exercise.name}}</div>
                                <div class="col-m-3 exCol">
                                    <input placeHolder="Sets" [(ngModel)]="exercise.set" type="number">
                                </div>
                                <div class="col-m-3 exCol">
                                    <input placeHolder="Reps" [(ngModel)]="exercise.rep" type="number">
                                </div>
                                <div class="col-m-3 exCol">
                                    <input placeHolder="Weights" [(ngModel)]="exercise.weight" type="number">
                                </div>
                            </div>
                            <button (click)="removeExercise(exercise.name, 0);">Remove</button>
                        <br><br>
                        </div>
                    </div>
                    <button type="button" class="btn  btn-lg" data-toggle="modal" data-target="#myModal">Add New Exercise</button>
                    <edit-program-modal [(workouts)]="workouts" [index]="0"></edit-program-modal>
            <br><br>
         
        </div>
        <br>

        <button (click)="clickDay(1)" *ngIf="timesPerWeek > 1"  class="btn btn-lg">Day 2</button>
        <br><br>
        <div *ngIf="dayClicked[1]">

                <div *ngFor="let workout of workouts">

                        <div *ngFor="let exercise of workout.exercises">
            
                            <div class="row">
            
                                <div class="col-m-3 exCol">Name: {{exercise.name}}</div>
                                <div class="col-m-3 exCol">
                                    <input placeHolder="Sets" [(ngModel)]="exercise.set" type="number">
                                </div>
                                <div class="col-m-3 exCol">
                                    <input placeHolder="Reps" [(ngModel)]="exercise.rep" type="number">
                                </div>
                                <div class="col-m-3 exCol">
                                    <input placeHolder="Weights" [(ngModel)]="exercise.weight" type="number">
                                </div>
                            </div>
                            <button (click)="removeExercise(exercise.name, 1);">Remove</button>
                        <br><br>
                        </div>
                        
                    </div>
                
                    <button type="button" class="btn  btn-lg" data-toggle="modal" data-target="#myModal">Add New Exercise</button>
                    <edit-program-modal [(workouts)]="workouts" [index]="1"></edit-program-modal>
            <br><br>
         
        </div>
        <br>
        <button (click)="clickDay(2)" *ngIf="timesPerWeek > 2"  class="btn btn-lg">Day 3</button>
        <br><br>
        <div *ngIf="dayClicked[2]">

                <div *ngFor="let workout of workouts">

                        <div *ngFor="let exercise of workout.exercises">
            
                            <div class="row">
            
                                <div class="col-m-3 exCol">Name: {{exercise.name}}</div>
                                <div class="col-m-3 exCol">
                                    <input placeHolder="Sets" [(ngModel)]="exercise.set" type="number">
                                </div>
                                <div class="col-m-3 exCol">
                                    <input placeHolder="Reps" [(ngModel)]="exercise.rep" type="number">
                                </div>
                                <div class="col-m-3 exCol">
                                    <input placeHolder="Weights" [(ngModel)]="exercise.weight" type="number">
                                </div>
                            </div>
                            <button (click)="removeExercise(exercise.name, 2);">Remove</button>
                        <br><br>
                        </div>
                        
                    </div>
                
                    <button type="button" class="btn  btn-lg" data-toggle="modal" data-target="#myModal">Add New Exercise</button>
                    <edit-program-modal [(workouts)]="workouts" [index]="2"></edit-program-modal>
            <br><br>
         
        </div>
        <br>
        <button (click)="clickDay(3)" *ngIf="timesPerWeek > 3"  class="btn btn-lg">Day 4</button>
        <br><br>
        <div *ngIf="dayClicked[3]">

                <div *ngFor="let workout of workouts">

                        <div *ngFor="let exercise of workout.exercises">
            
                            <div class="row">
            
                                <div class="col-m-3 exCol">Name: {{exercise.name}}</div>
                                <div class="col-m-3 exCol">
                                    <input placeHolder="Sets" [(ngModel)]="exercise.set" type="number">
                                </div>
                                <div class="col-m-3 exCol">
                                    <input placeHolder="Reps" [(ngModel)]="exercise.rep" type="number">
                                </div>
                                <div class="col-m-3 exCol">
                                    <input placeHolder="Weights" [(ngModel)]="exercise.weight" type="number">
                                </div>
                            </div>
                            <button (click)="removeExercise(exercise.name, 3);">Remove</button>
                        <br><br>
                        </div>
                        
                    </div>
                
                    <button type="button" class="btn  btn-lg" data-toggle="modal" data-target="#myModal">Add New Exercise</button>
                    <edit-program-modal [(workouts)]="workouts" [index]="3"></edit-program-modal>
            <br><br>
         
        </div>
        <br>
        <button (click)="clickDay(4)" *ngIf="timesPerWeek > 4"  class="btn btn-lg">Day 5</button>
        <br><br>
        <div *ngIf="dayClicked[4]">

                <div *ngFor="let workout of workouts">

                        <div *ngFor="let exercise of workout.exercises">
            
                            <div class="row">
            
                                <div class="col-m-3 exCol">Name: {{exercise.name}}</div>
                                <div class="col-m-3 exCol">
                                    <input placeHolder="Sets" [(ngModel)]="exercise.set" type="number">
                                </div>
                                <div class="col-m-3 exCol">
                                    <input placeHolder="Reps" [(ngModel)]="exercise.rep" type="number">
                                </div>
                                <div class="col-m-3 exCol">
                                    <input placeHolder="Weights" [(ngModel)]="exercise.weight" type="number">
                                </div>
                            </div>
                            <button (click)="removeExercise(exercise.name, 4);">Remove</button>
                        <br><br>
                        </div>
                        
                    </div>
                
                    <button type="button" class="btn  btn-lg" data-toggle="modal" data-target="#myModal">Add New Exercise</button>
                    <edit-program-modal [(workouts)]="workouts" [index]="4"></edit-program-modal>
            <br><br>
         
        </div>
        <br>
        <button (click)="clickDay(5)" *ngIf="timesPerWeek > 5"  class="btn btn-lg">Day 6</button>
        <br><br>
        <div *ngIf="dayClicked[5]">

                <div *ngFor="let workout of workouts">

                        <div *ngFor="let exercise of workout.exercises">
            
                            <div class="row">
            
                                <div class="col-m-3 exCol">Name: {{exercise.name}}</div>
                                <div class="col-m-3 exCol">
                                    <input placeHolder="Sets" [(ngModel)]="exercise.set" type="number">
                                </div>
                                <div class="col-m-3 exCol">
                                    <input placeHolder="Reps" [(ngModel)]="exercise.rep" type="number">
                                </div>
                                <div class="col-m-3 exCol">
                                    <input placeHolder="Weights" [(ngModel)]="exercise.weight" type="number">
                                </div>
                            </div>
                            <button (click)="removeExercise(exercise.name, 5);">Remove</button>
                        <br><br>
                        </div>
                        
                    </div>
                
                    <button type="button" class="btn  btn-lg" data-toggle="modal" data-target="#myModal">Add New Exercise</button>
                    <edit-program-modal [(workouts)]="workouts" [index]="5"></edit-program-modal>
            <br><br>
         
        </div>
        <br>
        <button (click)="clickDay(6)" *ngIf="timesPerWeek > 6"  class="btn btn-lg">Day 7</button>
        <br><br>
        <div *ngIf="dayClicked[6]">

                <div *ngFor="let workout of workouts">

                        <div *ngFor="let exercise of workout.exercises">
            
                            <div class="row">
            
                                <div class="col-m-3 exCol">Name: {{exercise.name}}</div>
                                <div class="col-m-3 exCol">
                                   Sets <input placeHolder="Sets" [(ngModel)]="exercise.set" type="number">
                                </div>
                                <div class="col-m-3 exCol">
                                   Reps <input placeHolder="Reps" [(ngModel)]="exercise.rep" type="number">
                                </div>
                                <div class="col-m-3 exCol">
                                   Weights <input placeHolder="Weights" [(ngModel)]="exercise.weight" type="number">
                                </div>
                            </div>
                            <button (click)="removeExercise(exercise.name, 6);">Remove</button>
                        <br><br>
                        </div>
                        
                    </div>
                
                    <button type="button" class="btn  btn-lg" data-toggle="modal" data-target="#myModal">Add New Exercise</button>
                    <edit-program-modal [(workouts)]="workouts" [index]="6"></edit-program-modal>
            <br><br>
         
        </div>
        <br>
    </div>
</div>