
.sidenav {
    height:500px;
    width: 400px;
    position: fixed;
    z-index: 1;
    left: 0;
    overflow-x: hidden;
    border-radius:20% ;
    margin-top:100px;
}
.sidenav p {
    padding-left: 30px;
  
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
}

.sidenav a:hover {
    color: black;
}


.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.content {
    padding-top:30px;
    overflow: auto;
}


.header {
    background-color: #26282a;
    text-align: center;
    height: 80px;
    color: #ffa100;
}
.page{
    margin-bottom: 10%; 
    padding-bottom: 10%; 
}
.admin-navbar {
    z-index: 1;
    background-color:  grey;
    color:black;
    top: 10%;
    width: 100%;
    height: 7%;
    padding: 10px;
}

.navbar {
    z-index: 1;
    background-color:  #ffa100;
    color:black;
    top: 10%;
    width: 100%;
    height: 7%;
    padding: 10px;
}

a {
    color:black;
    font-family: 'PT Sans', Arial, sans-serif;
    padding:7px;
  }

  a:hover{
    text-decoration: none!important; 
    color: #46ADC6 !important;
    cursor: pointer!important;
  }
  .inline-bar {
    margin-left: auto;
    margin-right: auto;
  }
.menu-bar-active-item{
  text-decoration: none!important; 
  color: #46ADC6!important;
}
.progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    background-color: #ffa100;
    transition: width .6s ease;
}

