<div class="page">
        <div class="row">
            <div class="col-md-12 personalInformationTitle block-container">
                  <h1>Profile Setings.</h1>  
                  <h2> Here is where you can change your personal information</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                    <img src="../assets/1.jpg" class="img-rounded" alt="img" width="304" height="236"> 
                    <br>
                    <br>
                    <br>
                    <img src="../assets/1.jpg" class="img-rounded" alt="img" width="304" height="236"> 
                    <br>
                    <br>
                    <br>
                    <img src="../assets/1.jpg" class="img-rounded" alt="img" width="304" height="236"> 
                </div>
            <div class="col-md-4" class="block-container">
               
                    <span><b>Age</b>: 21</span>
                    <button type="button" (click)="activateAge();" class="btn">Change</button>
                    <input type="text" *ngIf="ageActivated">
                    <span><b>Gender</b>: Male</span>
                    <button type="button" class="btn">Change</button>
                    <span><b>Height</b>: 1.74</span>
                    <button type="button" class="btn">Change</button>
                    <span> <b>Weight</b>: 72</span>
                    <button type="button" class="btn">Change</button>
                    <span><b>Username</b>: 21</span>
                    <button type="button" class="btn">Change</button>
                    <span><b>Password</b>: Male</span>
                    <button type="button" class="btn">Change</button>
                    <span><b>Are you trainer</b>: NO</span>
                    <button type="button" class="btn">Change</button>
          
            </div>
        </div>
        <br>
        <br>   
    </div>