
<div class="content from-top content">

                <h1>Exercises. </h1>
                <h2>We can give you many exercises. You should test them,<br> work hard and see what works best for you</h2>
                <br>
                <br>
                <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a class="btn btn-link" routerLink="#">Should we find PT?</a>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a class="btn btn-link" routerLink="#">What is the perfect program?</a>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a class="btn btn-link" routerLink="#">Bigger biceps?</a>
                        </li>
                </ul>
                <br><br>
                <div class="row">
                        <div class="col-md-12">
                               
                                        <img class="rounded" src="../assets/workout1.jpg" alt="New York" width=100% height="300">
                   </div>
                </div>
        </div>
<div class="from-top">

</div>